.cmamoform1 .controls{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius:4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
}

.cmamoform1{
    width: 400;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.cmamoform1 .botons{
    width:45%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

.cmamoform1 h1{
    font-size: 22px;
    margin-bottom: 20px;
    text-align:center;
    font-family: 'calibri';
}

.cmamoform2 .controls{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius:4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
}

.cmamoform2{
    width: 400;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.cmamoform2 .botons{
    width:100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

.cmamoform2 .textarea{
    width: 60%;
    padding: 10px;
    border-radius:4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
}

.cmamoform2 h1{
    font-size: 22px;
    margin-bottom: 20px;
    text-align:center;
    font-family: 'calibri';
}

.cmamoform3 .eleccion{
    background: #ededed;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    border-radius: 50%;
    font-family: 'calibri';
}

.cmamoform3 .controls{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius:4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
}

.cmamoform3{
    width: 400;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.cmamoform3 .botons{
    width:100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

.cmamoform3 h1{
    font-size: 22px;
    margin-bottom: 20px;
    text-align:center;
    font-family: 'calibri';
}

.cmamoform3 p{
    font-size: 18px;
    margin-bottom: 20px;
    font-family: 'calibri';
}